<?xml version="1.0" ?>

<launch>

  <arg name="hardware_interface" default="PositionJointInterface"/>
  <arg name="controllers" default="joint_state_controller $(arg hardware_interface)_J0_controller $(arg hardware_interface)_J1_controller $(arg hardware_interface)_J2_controller $(arg hardware_interface)_J3_controller"/>
  <arg name="robot_name" default="arm"/>
  <arg name="model" default="arm_model"/>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find arm_control)/config/arm_control.yaml" command="load"/>

  <!-- Load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	  output="screen" args="$(arg controllers)"/>

  <!-- Convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/$(arg robot_name)/joint_states"/>
  </node>

</launch>
